<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


<nav class="navbar navbar-expand-lg navbar-light  fiverr-navbar">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" routerLink="/">
        <img src="imagves/L4.png" alt="logo" class="fiverr-navbar-logo" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#fiverrNavbar" aria-controls="fiverrNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="fiverrNavbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-lg-center">
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="exploreDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Explore Projects
            </a>
            <ul class="dropdown-menu" aria-labelledby="exploreDropdown">
              <li><a [routerLink]="['/new']" routerLinkActive="router-link-active"  class="dropdown-item" href="#">Bidding</a></li>
              <li><a [routerLink]="['/fixed']" routerLinkActive="router-link-active" class="dropdown-item" href="#">Fixed Price</a></li>
              <!-- <li><a class="dropdown-item" href="#">Guides</a></li> -->
            </ul>
          </li>

          <li class="nav-item">
            <a [routerLink]="['/freelancers']" routerLinkActive="router-link-active" class="nav-link" href="#">Freelancers</a>
          </li>

          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              English
            </a>
            <ul class="dropdown-menu" aria-labelledby="languageDropdown">
              <li><a class="dropdown-item" href="#">English</a></li>
              <li><a class="dropdown-item" href="#">العربية</a></li>
              <li><a class="dropdown-item" href="#">Français</a></li>
            </ul>
          </li> -->
          
          <!-- <li class="nav-item">
            <a class="nav-link text-fiverr-go" href="#">Try Fiverr Go</a>
          </li> -->
        </ul>
        <div class="d-flex align-items-center gap-2">

          <div class="nav-item dropdown">
          <a 
          routerLinkActive="router-link-active"
          class="nav-link  navbar-icon-link dropdown-toggle"
          role="button"
           data-bs-toggle="dropdown"
            aria-expanded="false"
             title="Profile">
            <i class="fa-regular fa-user"></i>
          </a>

          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" [routerLink]="['/profile']">View Profile</a></li>
            <li><a class="dropdown-item" [routerLink]="['/myprojects']">My Projects</a></li>
            <li><a class="dropdown-item" href="#">Add Funds</a></li>
            <li><a class="dropdown-item" href="#">Withdraw</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item"(click)="logout()">Logout</a></li>
          </ul>
        </div>





          <a href="#" class="nav-link  navbar-icon-link" title="Notifications">
            <i class="fa-regular fa-bell"></i>
          </a>
          <a routerLink="/chathub" class="nav-link  navbar-icon-link" title="Messages">
            <i class="fa-regular fa-comment-dots"></i>
          </a>
          @if (!isLoggedIn) {
            <a routerLink="/login" class="nav-link signin-link">Sign In</a>
            <a routerLink="/register" class="btn btn-outline-dark btn-sm join-btn">Join</a>
          }@else {
            <a (click)="logout()" class="btn btn-outline-dark btn-sm join-btn">Logout</a>
          }
<!-- 
            <a *ngIf="!isLoggedIn" routerLink="/login" class="nav-link signin-link">Sign In</a>
            <a *ngIf="!isLoggedIn" routerLink="/register" class="btn btn-outline-dark btn-sm join-btn">Join</a> -->


         
        </div>
      </div>
    </div>
  </nav>
