<!-- <div class="wt-contentwrapper"> -->
<!--Main Start-->
<!-- <main id="wt-main" class="wt-main wt-haslayout"> -->
<!--Register Form Start-->
<!-- <section class="wt-haslayout wt-dbsectionspace wt-insightuser">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
          <div class="wt-dashboardbox">
            <div class="wt-dashboardboxtitle wt-yeartag">
              <h2>Total Earnings</h2>
              <div class="wt-tag wt-widgettag">
                <a href="javascript:void(0);">2019</a>
                <a href="javascript:void(0);">2018</a>
                <a href="javascript:void(0);">2017</a>
              </div>
            </div>
            <div class="wt-dashboardboxcontent">
              <div class="wt-jobchartholder">
                <canvas id="wt-jobchart" class="wt-jobchart"></canvas>
              </div>
            </div>
          </div>
          <div class="wt-dashboardbox wt-earningsholder">
            <div class="wt-dashboardboxtitle wt-titlewithsearch">
              <h2>Past Earnings</h2>
              <form class="wt-formtheme wt-formsearch">
                <fieldset>
                  <div class="form-group">
                    <input type="text" name="Search" class="form-control" placeholder="Search Here">
                    <a href="javascrip:void(0);" class="wt-searchgbtn"><i class="lnr lnr-magnifier"></i></a>
                  </div>
                </fieldset>
              </form>
            </div>
            <div class="wt-dashboardboxcontent">
              <table class="wt-tablecategories">
                <thead>
                  <tr>
                    <th>Project Title</th>
                    <th>Date</th>
                    <th>Earnings</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>I want some customization and installation on wordpress</td>
                    <td>February 3, 2019</td>
                    <td>$19.00</td>
                  </tr>
                  <tr>
                    <td>Develop a transportation company website</td>
                    <td>January 12, 2019</td>
                    <td>$350.00</td>
                  </tr>
                  <tr>
                    <td>Change temp to Arabic and install on wordpress</td>
                    <td>December 16, 2018</td>
                    <td>$120.00</td>
                  </tr>
                  <tr>
                    <td>I want some customization and installation on wordpress</td>
                    <td>November 18, 2018</td>
                    <td>$60.00</td>
                  </tr>
                  <tr>
                    <td>Website changes in HTML &amp; PHP</td>
                    <td>October 24, 2018</td>
                    <td>$50.00</td>
                  </tr>
                  <tr>
                    <td>I want some customization and installation on wordpress</td>
                    <td>October 21, 2018</td>
                    <td>$240.00</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="ccol-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
          <div class="row">
            <div class="wt-insightsitemholder">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 float-left">
                <div class="wt-insightsitem wt-dashboardbox wt-insightnoticon">
                  <figure class="wt-userlistingimg">
                    <img src="images/thumbnail/img-19.png" alt="image description" class="mCS_img_loaded">
                  </figure>
                  <div class="wt-insightdetails">
                    <div class="wt-title">
                      <h3>New Messages</h3>
                      <a href="javascript:void(0)">Click To View</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 float-left">
                <div class="wt-insightsitem wt-dashboardbox">
                  <span class="wt-pakagespinner"><i class="fa fa-spinner wt-uploading"></i> D29 : H06 : M38 : S42</span>
                  <figure class="wt-userlistingimg">
                    <img src="images/thumbnail/img-21.png" alt="image description" class="mCS_img_loaded">
                  </figure>
                  <div class="wt-insightdetails">
                    <div class="wt-title">
                      <h3>Check Package Expiry</h3>
                      <a href="javascript:void(0)">Click To View</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 float-left">
                <div class="wt-insightsitem wt-dashboardbox">
                  <figure class="wt-userlistingimg">
                    <img src="images/thumbnail/img-20.png" alt="image description" class="mCS_img_loaded">
                  </figure>
                  <div class="wt-insightdetails">
                    <div class="wt-title">
                      <h3>Latest Proposals</h3>
                      <a href="javascript:void(0)">Click To View</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 float-left">
                <div class="wt-insightsitem wt-dashboardbox">
                  <figure class="wt-userlistingimg">
                    <img src="images/thumbnail/img-22.png" alt="image description" class="mCS_img_loaded">
                  </figure>
                  <div class="wt-insightdetails">
                    <div class="wt-title">
                      <h3>View Saved Items</h3>
                      <a href="javascript:void(0)">Click To View</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wt-insightsongoing">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 float-left">
                <div class="wt-dashboardbox wt-ongoingproject">
                  <div class="wt-dashboardboxtitle">
                    <h2>Ongoing Projects</h2>
                  </div>
                  <div class="wt-dashboardboxcontent wt-hiredfreelance">
                    <div class="wt-userlistinghold wt-featured">
                      <span class="wt-smallfeaturedtag"><img src="images/featured.png" alt="img description" data-tipso="Plus Member" class="template-content tipso_style mCS_img_loaded"></span>
                      <div class="wt-proposaldetails">
                        <div class="wt-contenthead">
                          <div class="wt-title">
                            <h3>I want some customization &amp; installation on wordpress <span>Louanne Mattioli</span></h3>
                            <a href="javascript:void(0)" class="wt-hiredarrow"><i class="lnr lnr-chevron-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="wt-userlistinghold wt-featured">
                      <span class="wt-smallfeaturedtag"><img src="images/featured.png" alt="img description" data-tipso="Plus Member" class="template-content tipso_style mCS_img_loaded"></span>
                      <div class="wt-proposaldetails">
                        <div class="wt-contenthead">
                          <div class="wt-title">
                            <h3>Develop a transportation company website <span>Louanne Mattioli</span></h3>
                            <a href="javascript:void(0)" class="wt-hiredarrow"><i class="lnr lnr-chevron-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="wt-userlistinghold wt-featured">
                      <div class="wt-proposaldetails">
                        <div class="wt-contenthead">
                          <div class="wt-title">
                            <h3>Change temp to Arabic &amp; install on wordpress <span>Louanne Mattioli</span></h3>
                            <a href="javascript:void(0)" class="wt-hiredarrow"><i class="lnr lnr-chevron-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wt-dashboardsaveholder wt-dashboardsave">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 float-left">
                <div class="wt-proposalsr wt-dashboardbox">
                  <div class="wt-proposalsrcontent">
                    <figure>
                      <img src="images/thumbnail/img-17.png" alt="image">
                    </figure>
                    <div class="wt-title">
                      <h3>150</h3>
                      <span>Total Ongoing Jobs</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 float-left">
                <div class="wt-proposalsr wt-dashboardbox">
                  <div class="wt-proposalsrcontent  wt-freelancelike">
                    <figure>
                      <img src="images/thumbnail/img-15.png" alt="image">
                    </figure>
                    <div class="wt-title">
                      <h3>2075</h3>
                      <span>Total Cancelled Jobs</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
<!--Register Form End-->
<!-- </main> -->
<!--Main End-->
<!-- </div> -->
<div class="container py-4 text-center">
  <!-- Header -->
  <div class="row mb-4 mt-5">
    <div class="offset-lg-3 col-6">
      <div class="card">
        <div class="card-body">
          <h1 class="h2 mb-0">User Dashboard</h1>
          <p class="text-muted">Welcome to your administration panel</p>
          <p>last updated: {{ lastUpdated | date : "medium" }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Stats Cards -->
  <div class="row mb-4">
    <!-- User Stats -->
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">User Statistics</h5>
          <div class="list-group list-group-flush">
            <div
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Clients
              <span class="badge bg-primary rounded-pill">{{
                userCounts.clients
              }}</span>
            </div>
            <!-- <div
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Freelancers
              <span class="badge bg-success rounded-pill">{{
                userCounts.freelancers
              }}</span>
            </div>
            <div
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Admins
              <span class="badge bg-info rounded-pill">{{
                userCounts.admins
              }}</span>
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <!-- Project Stats -->
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Project Statistics</h5>
          <div class="list-group list-group-flush">
            <div
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Total Projects
              <span class="badge bg-secondary rounded-pill">{{
                projectStats.total
              }}</span>
            </div>
            <!-- <div
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Pending
              <span class="badge bg-warning rounded-pill">{{
                projectStats.pending
              }}</span>
            </div> -->
            <div
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Completed
              <span class="badge bg-success rounded-pill">{{
                projectStats.completed
              }}</span>
            </div>

            <div
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Working
              <span class="badge bg-info rounded-pill">{{
                projectStats.Working
              }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Proposal Stats -->
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Proposal Statistics</h5>
          <div class="list-group list-group-flush">
            <div
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Total Proposals
              <span class="badge bg-primary rounded-pill">{{
                proposalStats.total
              }}</span>
            </div>
            <div
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Avg. per Project
              <span class="badge bg-info rounded-pill">{{
                proposalStats.averagePerProject | number : "1.1-1"
              }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Certificate Stats -->
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Certificate Statistics</h5>
          <div class="list-group list-group-flush">
            <div
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Pending Certificates
              <span class="badge bg-warning rounded-pill">{{
                pendingCertificates
              }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Charts Row -->
  <div class="row mb-4">
    <!-- Revenue Chart -->
    <div class="col-lg-9 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Monthly Revenue</h5>
          <div class="chart-container">
            <canvas
              baseChart
              [data]="revenueChartData"
              [options]="lineChartOptions"
              type="line"
            >
            </canvas>
          </div>
        </div>
      </div>
    </div>
    <!-- Project Status Chart -->
    <div class="col-lg-3 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Project Status Distribution</h5>
          <div class="chart-container">
            <canvas
              baseChart
              [data]="projectStatusChartData"
              [options]="pieChartOptions"
              type="pie"
            >
            </canvas>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-3 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Language Distribution</h5>
          <div class="chart-container">
            <canvas
              baseChart
              [data]="languageChartData"
              [options]="pieChartOptions"
              type="pie"
            >
            </canvas>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <!-- Bottom Row -->
</div>
